[user]
	signingkey = B19DF23110F2DA29
	name = Justin Tan
	email = justintws10@gmail.com
[commit]
	gpgSign = true
[pull]
	rebase = true
[rebase]
	autosquash = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[diff]
	algorithm = histogram
[core]
	editor = code --wait
